version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    reviewers:
      - "terenceodonoghue"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: docker
    directory: /projects/home-mcp
    schedule:
      interval: monthly
    reviewers:
      - "terenceodonoghue"
    groups:
      docker:
        patterns:
          - "*"

  - package-ecosystem: uv
    directory: /projects/home-mcp
    schedule:
      interval: monthly
    reviewers:
      - "terenceodonoghue"
    groups:
      python:
        patterns:
          - "*"
