### Claude Code ###
.claude/settings.local.json

### Dotenv ###
.env

### macOS ###
._*
*.icloud
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv
build/
dist/

### VSCode ###
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets
.history/
*.vsix
